<div class="wrapper">
  <div class="row">

    <%  if @cars.empty? %>
    <h3><%= link_to "You have no car. Wanna register your car ?", new_dashboard_car_path %></h3>
    <%  end %>

    <% @cars.each do |car| %>
    <div class="col-xs-12 col-md-6 col-lg-4 car-card">
     <% if car.photo %>
     <%= cl_image_tag car.photo.fullpath, class: "card" %>
     <% else %>
     <%= image_tag 'Placeholder_car.jpg', class: "card" %>
     <% end %>

     <div class="card-content">
      <%= car.brand %> <%= car.model %> - <%= car.color %>
    </div>
    <div class="edit-link">
     <%= link_to "Wanna edit ?" , edit_dashboard_car_path(car),
     class: "btn-log btn-success btn-lg" %>
   </div>

 </div>

 <% end %>

<%= link_to "Add a new car", new_dashboard_car_path, class: "btn-log btn-primary btn-lg" %>
</div>

</div>




