<div class = "deco">

  <div class = "book">
    <div class = cool>
    <%= image_tag "car.png"%>
    </div>
    <%= simple_form_for [:car, @booking] do |f| %>
      <%= f.input :message %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>

      <%= f.button :submit %>
    <%end %>
  </div>

</div>
