<div class="wrapper-top">
  <div class="text-center">
    <h1>VipRide</h1>
    <h4>Click on it, drive it !</h4>
  </div>

  <!-- Search form -->
    <div class="text-center form-inline">

      <%= form_tag("/search", method: "get") do %>
      <%= label_tag(:q, "Search for:") %>
      <%= text_field_tag(:q) %>
      <%= text_field_tag(:q) %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %><i class="fa fa-search"></i>
      <% end %>
  </div>

<!-- Car cards -->

      <% @cars.each do |car| %>
      'raise'
        <div class="col-xs-12 col-md-4">
          <div class="card" style="background : linear-gradient(rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.2)), <%= image_tag '@car.photo' %>
            <%= @car.title, class: "card-name" %>
            <%= @car.brand, class: "card-content" %>
            <%= date_field(:user, :born_on) %>
          </div>
      <% end %>
