<div class="banner">
  <div class="image">
    <% if @user.photo? %>
    <%= cl_image_tag @user.photo.path, width: 250, height: 250, crop: :fill, class: "profile-pic" %>
    <% end %>
  </div>
  <div class="content">
    <div class="title">
      <h1>
        <%= @user.name %>
      </h1>
    </div>
    <div class="info">
      <%= @user.address %>
      <%= link_to 'Edit profile', edit_dashboard_profile_path, class: "edit" %>
    </div>
    <div class="introduction">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quibusdam, repellat debitis velit, reprehenderit nisi! Facilis explicabo cumque similique consectetur sunt quibusdam dignissimos quasi reiciendis perferendis sequi optio at dolor recusandae odio voluptas molestiae, aperiam veniam impedit, voluptatibus tempore cum facere laudantium odit a. Quidem consequuntur, natus illum? Totam eos asperiores saepe natus culpa nulla officia modi odio, porro deleniti, consequatur harum illum quo debitis pariatur nostrum eius est, placeat alias sed dignissimos temporibus perferendis ipsum!
    </div>
      <div class="manage">
        <%= link_to 'Manage my bookings', dashboard_bookings_path, class: "manage_bookings btn-success"%>
        <%= link_to 'Manage my cars', dashboard_bookings_path, class: "manage_cars btn-success"%>
      </div>
  </div>
</div>
<div class="sidebar"></div>



