<!-- <h1>Put here the Header !</h1> -->

<div class="d-banner">
 <div class="container">
  <div class="row">
    <div class="col-xs-12">
     <h2>Please find herebelow all the cars for the results requested :  </h2>

     <table class= "table">
           <% @cars.each do |car| %>
           <ul>
                <% if car.photo %>
                <%= cl_image_tag car.photo.path, height: 35, width: 35, crop: :fill %>
                <% end %>
                <%= car.brand %>
                <%= car.model %>
                <%= car.color %>
      <!--      <%= car.description %>      -->
                <%= link_to "Show car details ", car_path(car) %>
           </ul>
           <% end %>
     </table>
    </div>
   </div>
  </div>
</div>
<!-- <h1>Put here the Footer !</h1> -->
