 <div class="wrapper"> 
 <h3 class="text-center list-title">Results for your request</h3>

  <div class="row">
    <% @cars.each do |car| %>
    <div class="col-xs-12 col-md-6 col-lg-4 car-card">
      <% if car.photo %>
      <%= link_to car_path(car) do %>
      <%= cl_image_tag car.photo.fullpath, height: 35, width: 35, crop: :fill, class: "card" %>
      <% end %>
      <% end %>
      <div class="card-content">
        <%= car.brand %> <%= car.model %> - <%= car.color %>
      </div>
    </div>
    <% end %>
  </div>
  </div>

