<div class="wrapper-bottom">
<h1 class="text-center">Your car is ... <%= @car.brand %> <%= @car.model %></h1>

<h4>Color</h4>
<p><%= @car.color %></p>

<br>
<h4 class="car-description">Description</h4>
<p><%= @car.description %></p>

<br>
<%#= image_tag @car.photo.url(:bright_face) %>

<h4>More photos here </h4>
  <table class= "table">
   <ol>
     <%# @car.photo.each do |pic| %>
          <%#= cl_image_tag @car.photo, height: 20, width: 20, crop: :fill %>
     <%# end %>
   </ol>
  </table>

<%= link_to "Book the car", new_car_booking_path(@car), class: "btn-log btn-success btn-lg" %>

<%= link_to "Back", cars_path, class: "btn-log btn-primary btn-lg" %>
</div>
