<h1>The car : <%= @car.brand %> - <%= @car.model %> - <%= @car.color %> </h1>
<h2>Description : <%= @car.description %></h2>

<%#= image_tag @car.photo.url(:bright_face) %>

<br>
<%= link_to "Book the car", new_car_booking_path(@car) %>
<br>
<%= link_to "Back", cars_path %>

<h2>More photos : </h2>
  <table class= "table">
   <ol>
     <%# @car.photo.each do |pic| %>
          <%#= cl_image_tag @car.photo, height: 20, width: 20, crop: :fill %>
     <%# end %>
   </ol>
  </table>

  BUtton !!
